<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
</head>

<body>
    <nav>
        <div class="site-title">
            <a href="/">News | Error Page</a>
            <p>SK Website</p>
        </div>
        <ul>
            <li>
                <a href="/">Home News</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/news/create">Create News</a>
            </li>
        </ul>
    </nav>
    <div class="about content">
        <h2>NOT FOUND</h2>
    </div>
</body>

</html>